/*

@media only screen and (max-width: 1200px){

    .hero-text-box {  width: 100%; padding: 0 2%;   }
    .hero-text-box {
        -webkit-transform: translate(-40%,-30%);
        transform: translate(-40%,-30%);
    }
    .row { padding: 0 2%; }
    .sticky .main-nav{ margin: 18px 21%;   }
    .form textarea{margin-left: 12px; width: 44.5%;}
    .btn-send{ margin-right: 12.4%;margin-top: 4%;}



    /*
    .main-nav{ margin-right: 15%; }
    .cd-words-wrapper{margin-left: 17%;}
    .btn-full:link,
    .btn-full:visited{margin-left: 26%;}
    .btn-scroll{margin-left: 31%;}
    .hero-text-box .icon-btn{  margin-left: 37%;}
    h2{ width: 85%;}
    .description{ width: 85%;}
    .expertise-box{ width: 100%;}

    .box-skill,.container div{ width: 90%;}
    .progressbar { margin-top: 5px; margin-bottom: 39px; }
    .form textarea{margin-left: 12px; width: 44.5%;}
    .btn-send{ margin-right: 4%;margin-top: 4%;}
*/

}
/*
@media only screen and (max-width: 1130px){

    .hero-text-box {  width: 100%; padding: 0 2%;   }
    .hero-text-box {
        -webkit-transform: translate(-40%,-30%);
        transform: translate(-40%,-30%);
    }
    .row { padding: 0 2%; }
    .sticky .main-nav{ margin: 18px 21%;   }
    .form textarea{margin-left: 12px; width: 44.5%;}
    .btn-send{ margin-right: 12.4%;margin-top: 4%;}




    .main-nav{ margin-right: 5%;}
    .cd-words-wrapper{margin-left: 17%;}
    .btn-full:link,
    .btn-full:visited{margin-left: 26%;}
    .btn-scroll{margin-left: 31%;}
    .hero-text-box .icon-btn{  margin-left: 37%;}
    h2{ width: 95%;}
    .description{ width: 95%;}
    .expertise-box{ width: 100%;}

    .box-skill,.container div{ width: 90%;}
    .progressbar { margin-top: 5px; margin-bottom: 39px; }
    .form textarea{margin-left: 12px; width: 44.5%;}
    .btn-send{ margin-right: 11%;margin-top: 4%;}


}

















@media only screen and (max-width: 1023px){
    body{font-size: 18px;}
    section{padding: 60px 0;}
    .main-nav{ margin-right: 15%;}
    h1{  font-size: 240%;}

    .hero-text-box {
        width: 130%;
        -webkit-transform: translate(-28%,-30%);
        transform: translate(-28%,-30%);
    }


    .box{
        line-height: 145%;
        font-size: 90% ;
        display: block;
        text-align: center;
        margin-top: 20px;
        padding: 1%;
    }

    .expertise-box{ width: 100%;}
    h2{ width: 85%;}
    .description{ width: 85%;}
    .box-skill,.container div{ width: 90%;}
    .progressbar { margin-top: 5px; margin-bottom: 39px; }
    .skills .seprator{ margin-top: 50px;   }
    .projects .seprator{ margin-top: 70px;   }
    .big-mock{
        width: 390px;
        height: auto;
    }
    .mob-mock{
        height: 190px;
        width: auto;
        margin-left: -1%;
        margin-top: -22%;
    }
    .form input{ width: 20%;}
    .form textarea{
        width: 41%;
        height: 180px;
        margin-left: 12px;
    }
    .contact img {margin-left: 65%;}
    .cont-box {width: 35%;  margin-left: 63%;}

    .social-icon{ margin-left: 62%;}

    .social-icon a:link,
    .social-icon a:visited
    { font-size: 143%; }

    .sticky .main-nav{
   margin-right: 32%;

    }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 1px;}

}




@media only screen and (max-width: 767px){

    body{font-size: 16px;}
    section{padding: 30px 0;}
    .main-nav{display: none;}

    .logo-white{
        width: 130px;
        height: 60px;
        margin: 120px 23%;
        float: left;
    }
    h1{
    font-size: 190%;
    }
    h2{ width: 55%;}
    .description{ width: 55%;letter-spacing: 1px;}


    .btn-full:link,
    .btn-full:visited
    {
        font-size: 90%;
        margin-top: 30px;
        margin-left: 14%;
    }

    .btn-scroll{
        font-size: 80%;
        margin-top: 18%;
        margin-left: 20%;

    }

    .hero-text-box .icon-btn{
        font-size: 58%;
        margin-left: 26.5%;
    }

    .box{
        font-size: 95% ;
        text-align: center;
        margin-top: 20px;
        padding: 1%;
    }

    .expertise-box{   margin-top: 40px;}
    .expertise .seprator{ margin-top: 130px;}


    .projects h3{ text-align: left;}

    .projects li{ width: 50%;line-height: 150%;}

    .mockup-box p{ width: 50%;}

    .big-mock{
        width: 350px;
        height: auto;
        margin-right: 480px;

    }
    .mob-mock{
        height: 120px;
        width: auto;
        margin-top: -10%;
    }
    .mockup-box .seprator{ margin-top: 70px; width:40% ; margin-left: 50px;}



    .contact img {margin-left: 15%;}
    .cont-box {width: 35%;  margin-left: 13%; font-size: 84%;}

    .social-icon{ margin-left: 14%;}

    .social-icon a:link,
    .social-icon a:visited
    { font-size: 145%;  }


    .first-part{padding:0;width: 35% }
    .form{padding:0;width: 50%;margin-left: -20%;}

    .form textarea{
        width: 31%;
        height: 150px;
    }

    .btn-send{
        margin-right: 4.5%;
        margin-top: 4%;
    }

    .footer{
      width: 100%;
    }
}



@media only screen and (max-width: 480px){

    .projects h3{
        text-align: left;
    }

    .projects li{
        margin: 0px 3%;
        font-size: 75%;
        font-weight: 700;
        letter-spacing: 1px;
        word-spacing: 3px;
    }

    .mockup-box{
        overflow: hidden;
        margin-top: 50px;
    }
    .mockup-box p{
        margin: 10px 0;
        font-size: 85%;
        letter-spacing: 1px;
        line-height: 145%;
        word-spacing: 2px;
        text-align: justify;
        width: 78%;
    }

    .big-mock{
        width: 350px;
        height: auto;
        display: inline-block;

    }
    .mob-mock{
        display: block;
        height: 140px;
        width: auto;
        margin-left: -1%;
        margin-top: -15%;
        z-index: 9999;
    }


    .mock-description{
        width: 38%;
        -webkit-transform: translate(0,1150%);
        transform: translate(0,100%);


    }

    .mock-up{
        -webkit-transform: translate(-50%,-20%);
        transform: translate(-86%,0%);


    }


    .mockup-box .seprator{
        margin-top: 240px;

    }


}
