*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}


/*----- Disable Text Selection with CSS Code-------
body {
    -webkit-user-select: none !important;
    -moz-user-select: -moz-none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

*/
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.page-preload {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(img/ajax-loader.gif) center no-repeat #fff;
}



.seprator{
    margin-top: 100px;
    width: 70%;
    margin-left: 15%;
    border: 0;
    height: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}




.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


html, body{
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #555;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;

}

.row{
    width: 1140px;
    margin: 0 auto;

}


section {
    padding: 80px 0;
}


/*------------------Header section----------------------*/

header{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.22)), to(rgba(0, 0, 0, 0.69))), url(img/BG-min.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.69)), url(img/BG-min.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;

}

/*----------------------Hero text boxx-------------------*/


.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-28%,-30%);
    transform: translate(-50%,-30%);
    text-align: center;

}



/*----------------------Headings-----------------------*/

h2,h3{
    text-transform: uppercase;
    font-family: 'Montserrat','Arial', sans-serif;
}

h1{
    font-family: 'Montserrat','Arial', sans-serif;
    margin-top: 0;
    margin-bottom: 45px;
    color: #fff;
    font-size: 260%;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 140%;
}

.cd-words-wrapper{

}

h2{
    color: #FF0044;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 25px;
    font-size: 170%
}


h3{
    color: #FF0044;
    letter-spacing: 1px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 110%;
}



/*-----------------------Button ------------------------------*/


.btn-full:link,
.btn-full:visited
{
    text-decoration: none;
    color: #fff;
    padding: 15px;
    background-color: #FF0044;
    font-size: 70%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 40px;
}

.btn-full:hover,
.btn-full:active
{
    color: #FF0044;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 8px 14px #FF0044;
    box-shadow: 0px 3px 8px #FF0044;
}


.btn-scroll{
    text-decoration: none;
    color: #fff;
    font-size: 70%;
    display: block;
    margin-top: 8%;
    font-weight: 700;

}



.hero-text-box .icon-btn{
    color: #fff;
    font-size: 55%;
}



.btn-resume {
    text-align: center;
}
.btn-resume a:link,
.btn-resume a:visited,
.btn-visit a:link,
.btn-visit a:visited,
.btn-send a:link,
.btn-send a:visited
{
    text-decoration: none;
    color: #FF0044;
    padding: 15px;
    font-size: 70%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border: 1px solid #FF0044;
    border-radius: 5px;
    display: inline-block;
}


.btn-resume a:hover,
.btn-resume a:active,
.btn-visit a:hover,
.btn-visit a:active,
.btn-send a:hover,
.btn-send a:active
{
    color: #fff;
    background-color:#FF0044;
    -webkit-box-shadow: 0px 2px 7px #000;
    box-shadow: 0px 2px 7px #000;

}





.btn-visit{
    margin-top: 10%;
}

.btn-send a:link,
.btn-send a:visited
.btn-send a:hover,
.btn-send a:active
{
padding: 15px 30px;
}
.btn-send{
    float: left;
    margin-left: 67.6%;
    margin-top: 5%;
}

/*-------------------------------------------------------------*/
/*                        LOGO                                 */
/*------------------------------------------------------------*/

.logo-white{
    width: 100px;
    height: 46px;
    margin: 30px 1%;
    float: left;


}
.logo-dark{
    display: none;
    width: 70px;
    height: 35px;
    margin: 13px 0;
    float: left;


}



/*----------------------------------------------------------*/
/* Navigation */

/* Main- Navigation */
/*----------------------------------------------------------*/
nav .row{width: 90%; margin:0px auto}


.main-nav{
    float: right;
    margin-top: 50px;

}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 20px;

}

.main-nav li a:link,
.main-nav li a:visited
{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 70%;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    border-bottom: 4px solid transparent;
    -webkit-transition: color 0.5s, border-bottom 0.5s;
    transition: color 0.5s, border-bottom 0.5s;

}

.main-nav li a:hover,
.main-nav li a:active
{
    color: #FF0044;
    border-bottom: 4px solid #FF0044;

}






/*----------------------------------------------------------------*/
/*-                    Sticky Nav:     ;                          */
/*----------------------------------------------------------------*/


.sticky{
    position: fixed;
    float: right;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 0 1px #555;
    box-shadow: 0 2px 7px #efefef;
    z-index: 9999;

}


.sticky .main-nav{
    margin: 18px 23%;

}


.sticky .logo-white{
    display: none;
}

.sticky .logo-dark{
    display: block;
}




.sticky .main-nav li a:link,
.sticky .main-nav li a:visited
{
    color: #555;
    padding: 10px;
    border-bottom: 0px;

}


.sticky .main-nav li.active a
{
    border-top: 2px solid #FF0044;
    color:  #FF0044;
    -webkit-transition: border-top 0.3s, color 0.3s ;
    transition: border-top 0.3s, color 0.3s ;
}



/*----------------------------------------------------------------*/
/*-                    Icons                              */
/*---------------------------------------------------------------*/


.icon-big{
    font-size: 350%;
    display: block;
    margin-bottom: 10px;;
   text-align: center;
    color: #FF0044;
}


.social-icon{
    color: #FF0044;
    margin-left: 61%;
    margin-top: 10px;
    width: 100%;
}


.social-icon a:link,
.social-icon a:visited
{
    padding: 0 3px;
    margin-right: 1px;
    font-size: 130%;
    line-height: 110%;
    text-decoration: none;
    color: #FF0044;
}



.social-icon .ion-social-github:hover,
.social-icon .ion-social-github:active
{
    color: #000;
}

.social-icon .ion-social-googleplus-outline:hover,
.social-icon .ion-social-googleplus-outline:active
{
    color: #C13222;
}


.social-icon .ion-social-linkedin:hover,
.social-icon .ion-social-linkedin:active
{
    color: rgb(54, 23, 229);
}

.social-icon .ion-android-mail:hover,
.social-icon .ion-android-mail:active
{
    color: #242323;
}








/*----------------------------------------------------------------*/
/*-                    Paragraph:                                */
/*---------------------------------------------------------------*/
.description{
    text-align: center;
    line-height: 145%;
    margin-bottom: 30px;
}




/*----------------------------------------------------------------*/
/*-                   Section expertise                               */
/*---------------------------------------------------------------*/
.expertise-box{ width: 100%;}

.box{
    line-height: 145%;
    font-size: 90% ;
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 1%;

}

.expertise .seprator{
    margin-top: 170px;

}


/*----------------------------------------------------------------*/
/*-                   Section skills                               */
/*---------------------------------------------------------------*/

.box-skill li{
    list-style: none;
    line-height: 145%;
    font-size: 90% ;
    display: block;
    padding: 18px;
    font-weight: 700;
    text-align: right;
    margin-right: 10%;
    color: #FF0044;
}
.box-skill{

    margin-left: 0%;
}



/*----------------------------------------------------------------*/
/*-              Progressbar class css                           -*/
/*---------------------------------------------------------------*/


.progressbar {
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 43px;
    position: relative;
    background-color: #EEEEEE;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
}

.proggress{
    height: 8px;
    width: 10px;
    background-color: #3498db;
}

/*
.percentCount{
float:left;
margin-top: -20px;
margin-left: 440px;
clear: both;
color:#FF0044;
font-size: 90%;
}
*/

.container {
    max-width:420px;
    padding: 18px 0;
    margin: 0px auto;
}





/*----------------------------------------------------------------*/
/*-              Project Section                                -*/
/*---------------------------------------------------------------*/
/*
.projects h3{
    text-align: left;
}

.projects li{
    margin: 0px 3%;
    font-size: 75%;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.mockup p{
    margin: 10px 0;
    font-size: 85%;
    letter-spacing: 1px;
    line-height: 145%;
    word-spacing: 2px;
    text-align: justify;
}

.mockup{
    overflow: hidden;
    margin-top: 50px;
}

.big-mock{
    width: 550px;
    height: auto;
    display: inline-block;

}
.mob-mock{
    display: block;
    height: 250px;
    width: auto;
    margin-left: -1%;
    margin-top: -30%;
    z-index: 9999;
}

*/
.projects h3{
    text-align: left;
}

.projects li{
    margin: 0px 4%;
    font-size: 75%;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.mockup-box{
   overflow: hidden;
    margin-top: 50px;

}
.mockup-box p{
    margin: 10px 0;
    font-size: 85%;
    letter-spacing: 1px;
    line-height: 145%;
    word-spacing: 2px;
    text-align: justify;
}

.big-mock{
    height: 350px;
    width: auto;
    margin: 0 auto;
}
/*
.mob-mock{
    display: block;
    height: 200px;
    width: auto;
    margin-left: -1%;
    margin-top: -24%;
    z-index: 9999;
}

*/

.mock-description{
    width: 45%;

}

.mock-up{
    float: right;
    margin-right: 5%;
    margin-top: -250px ;

}


.mockup-box .seprator{
    margin-top: 240px;

}




/*----------------------------------------------------------------*/
/*-              Section Contact                                 -*/
/*---------------------------------------------------------------*/

.contact img{
    width: 110px;
    height:110px ;
    border-radius: 55%;
    margin-left: 65%;
    margin-bottom: 10px;

}
.cont-box{
    width: 35%;
    padding: 5px 0;
    text-align: center;
    background-color: #FF0044;
    border-radius: 4px;
    color: #fff;
    font-size:70%;
    font-weight: 700;
    margin-left: 62%;
}



form{
    margin-left: 10%;
}

.form{

}

.form input{
    width: 14%;
    height: 50px;
    padding: 12px 24px;
    margin-right: 2%;
    border: 1px solid #FF0044;

}
.form textarea{
    width: 47%;
    height: 200px;
    padding: 12px 24px;
    margin-top: 48px;
    border: 1px solid #FF0044;
}

::-webkit-input-placeholder{
    font-size: 80%;
}
.cont-content{
    margin-top: 50px;
}

/*
*:focus {outline:none; -webkit-box-shadow: 0 0 7px #12b256; box-shadow: 0 0 7px #12b256; }*/

.form textarea:focus,
.form input:focus {
    outline:none; -webkit-box-shadow: 0 0 7px #12b256; box-shadow: 0 0 7px #12b256;
}



textarea:focus,
input:focus
{
    border-color: #fff;

}





/*----------------------------------------------------------------*/
/*-              Footer Section                                 -*/
/*---------------------------------------------------------------*/
footer{
    margin-top: 150px;
    background-color: #FF0044;
}



footer p{
    font-size: 70%;
    font-weight: 500;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 50%;
    letter-spacing: 1px;
}
.footer-logo img{
    width: 50px;
    height: auto;
    margin-left: 30%;
    margin-top: 5px;
}


footer #name{
    margin-top: 10px;
    font-size: 55%;
}
footer #copy{
    font-size: 120%;
}
footer #credit{
    font-size: 55%;
}









